# requirements.txt

# install with pip install -r requirements.txt

# Standard library modules, no need to include in requirements.txt
# threading
# subprocess
# platform
# re
# math
# os



# PyGObject for GTK platform
PyGObject==3.42.0

# Pillow for image processing
Pillow==8.3.2

requests==2.26.0
img2pdf==0.4.1


# Webview
pywebview[qt]==3.5
#current version 5.2 doesn't work properly yet

# Screeninfo for screen information
screeninfo
